@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@500;600&family=Raleway:wght@400;500;600;700&display=swap");

:root {
  --first-color: #f2f5f9;
  --second-color: #ff9c1a;
  --three-color: #ec1b09;
  --black-color: #000;
  --poppins: "Poppins", sans-serif;
  --raleway: "Raleway", sans-serif;
  --box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: var(--raleway);
}

body {
  background-color: var(--first-color);
}

.header {
  display: flex;
  padding: 1rem 4rem;
  color: var(--three-color);
}

.header h1 {
  font-family: "Pacifico", sans-serif;
}

.header span {
  font-family: "Pacifico", sans-serif;
  color: var(--second-color);
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100%;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
}

.profile__card {
  background-color: #fff;
  width: 400px;
  padding: 3rem;
  border-radius: 10px;
  min-height: 900px;
  position: relative;
  color: #0b0909;
  margin: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: var(--box-shadow);
}

.profile__card .profile__img {
  margin-top: 15px;
  overflow: hidden;
}

.profile__card .profile__img img {
  border-radius: 10px;
}

.profile__card .profile__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.profile__card .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile__details .intro h2 {
  margin-top: 20px;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
}

.profile__details .intro h4 {
  color: rgba(11, 9, 9, 0.5);
  font-weight: 400;
  padding: 5px 10px;
  margin: 8px;
}

.profile__details .intro .social {
  margin-top: 10px;
  margin-bottom: 25px;
}

.profile__details .intro .social a {
  align-items: center;
}

.profile__details .intro .social i {
  color: #0077b5;
  background-color: #f2f7fc;
  font-size: 1rem;
  margin: 5px;
  padding: 23px;
  text-align: center;
  border-radius: 8px;
  transition: 0.5s;
}

.profile__details .intro .social i:hover {
  transform: scale(1.2);
  color: #000;
}

.profile__card .contact__info {
  background-color: #f2f5f9;
  padding: 15px;
  border-radius: 20px;
  width: 100%;
}

.profile__card .contact__info .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e3e3e3;
  margin: 10px;
}

.contact__info .row .icon {
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 5px;
  color: var(--second-color);
  text-align: center;
  transition: 0.5s;
}

.row .icon:hover {
  transform: scale(1.2);
}

.row .content {
  min-width: 80%;
  padding: 10px;
}

.row .content span {
  font-size: 14px;
  font-weight: 600;
  color: rgba(26, 16, 3, 0.5);
}

.row .content h5 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #000;
}

.download__btn {
  margin-left: 30px;
  background-color: var(--second-color);
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 30px;
  margin-top: 2.5rem;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.download__btn:hover {
  transform: scale(1.1);
}

/* ===== NAVBAR ===== */
.content__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar {
  width: 503px;
  height: 100px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #f2f7fc;
  box-shadow: var(--box-shadow);
}

.navbar__link {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  background-color: #e1e8ef;
  border-radius: 20px;
  cursor: pointer;
}

.navbar__link a {
  color: #000;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
}

.navbar__link a i {
  font-size: 1.2rem;
}

.navbar__link:hover {
  background-color: var(--second-color);
  transition: 0.5s;
  transform: scale(1.1);
}

.navbar__link a:hover {
  color: #fff;
}

/* ===== contact ===== */

.contact__container {
  background-color: #fff;
  max-width: 800px;
  padding: 2rem 3rem;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.contact__container h1 {
  font-family: "Poppins", sans-serif;
  color: #0b0909;
  position: relative;
  display: inline-block;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 1px;
}

.contact__container h1::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -170%;
  width: 252px;
  height: 2px;
  background-image: linear-gradient(
    to right,
    #fe9119,
    #fb7c0b,
    #f76503,
    #f24a04,
    #ed250a
  );
}

.contact__detail {
  display: flex;
  justify-content: space-between;
}

.contact__phone {
  display: flex;
  min-width: 333px;
  min-height: 150px;
  padding: 10px;
  margin: 10px;
  background-color: #ffeed9;
  border-radius: 20px;
}

.contact__email {
  display: flex;
  min-width: 333px;
  min-height: 150px;
  padding: 10px;
  margin: 10px;
  background-color: #f2f7fc;
  border-radius: 20px;
}

.contact__icon {
  padding: 20px;
  margin-top: 15px;
  font-size: 24px;
  color: #ff9a1a;
  transition: 0.5s;
}

.contact__number h5,
.email__detail h5 {
  font-family: var(--poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.4px;
  margin-top: 25px;
}

.contact__number p,
.email__detail p {
  font-family: var(--poppins);
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.35px;
}

.contact__input {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  margin: 10px;
  border-radius: 20px;
  background-color: #f8fbfb;
}

.input__title p {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.4px;
}

.contact__input-row {
  position: relative;
  margin-bottom: 25px;
  margin-top: 25px;
}

.input__container {
  margin-bottom: 25px;
  position: relative;
}

.input__container label {
  position: absolute;
  font-size: 1rem;
  font-weight: 600;
  top: 0;
  left: 0;
  font-size: 1rem;
  margin-top: -12px;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.input__container input {
  border: 0;
  border-bottom: 1px solid #b5b5b5;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
}

.input__container input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
}

.input__container input:valid ~ label,
.input__container input:focus ~ label {
  font-size: 12px;
}

.contact__input-row button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  border-radius: 20px;
  border: 1px solid var(--second-color);
  background-color: #fff;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s;
  margin-top: 25px;
  position: relative;
}

.contact__input-row button:hover {
  background-color: var(--second-color);
  transform: scale(1.1);
  color: #fff;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .header {
    display: flex;
    justify-content: center;
  }

  .contact__container {
    width: 1005;
    max-width: 400px;
    padding: 1rem;
    margin: 1rem;
  }

  .navbar {
    width: 90%;
  }

  .contact__container h1 {
    font-size: 2.2rem;
  }
  .contact__container h1::after {
    position: absolute;
    content: "";
    top: 50%;
    right: -100%;
    width: 120px;
    height: 2px;
    background-image: linear-gradient(
      to right,
      #fe9119,
      #fb7c0b,
      #f76503,
      #f24a04,
      #ed250a
    );
  }

  .contact__container .contact__detail {
    display: block;
  }
}

@media (max-width: 493px) {
  .profile__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .profile__details .intro h2,
  .profile__details .intro h4 {
    text-align: center;
  }

  .profile__details .intro .social {
    display: grid;
    grid-template-columns: repeat(4, auto);
  }

  .profile__details .intro .social i {
    padding: 16px;
    width: 50px;
    height: 50px;
  }

  .profile__card .contact__info {
    width: 125%;
  }

  .download__btn {
    display: flex;
    margin: 2rem auto;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .navbar {
    width: 80%;
  }

  .navbar .navbar__link {
    display: flex;
    align-items: center;
    margin: auto;
    width: 60px;
    height: 60px;
  }

  .contact__container {
    width: 80%;
  }

  .contact__container h1::after {
    width: 80px;
    right: -70%;
  }

  .contact__phone,
  .contact__email {
    min-width: 200px;
  }

  .email__detail p,
  .contact__number p {
    font-size: 12px;
  }
}
