@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@500;600&family=Raleway:wght@400;500;600;700&display=swap");

:root {
  --first-color: #f2f5f9;
  --second-color: #ff9c1a;
  --three-color: #ec1b09;
  --black-color: #000;
  --poppins: "Poppins", sans-serif;
  --raleway: "Raleway", sans-serif;
  --box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: var(--raleway);
}

body {
  background-color: var(--first-color);
}

.header {
  display: flex;
  padding: 1rem 4rem;
  color: var(--three-color);
}

.header h1 {
  font-family: "Pacifico", sans-serif;
}

.header span {
  font-family: "Pacifico", sans-serif;
  color: var(--second-color);
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100%;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
}

.profile__card {
  background-color: #fff;
  width: 400px;
  padding: 3rem;
  border-radius: 10px;
  min-height: 900px;
  position: relative;
  color: #0b0909;
  margin: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: var(--box-shadow);
}

.profile__card .profile__img {
  margin-top: 15px;
  overflow: hidden;
}

.profile__card .profile__img img {
  border-radius: 10px;
}

.profile__card .profile__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.profile__card .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile__details .intro h2 {
  margin-top: 20px;
}

.profile__details .intro h4 {
  color: rgba(11, 9, 9, 0.5);
  font-weight: 400;
  padding: 5px 10px;
  margin: 8px;
}

.profile__details .intro .social {
  margin-top: 10px;
  margin-bottom: 25px;
}

.profile__details .intro .social a {
  align-items: center;
}

.profile__details .intro .social i {
  color: #0077b5;
  background-color: #f2f7fc;
  font-size: 1rem;
  margin: 5px;
  padding: 23px;
  text-align: center;
  border-radius: 8px;
  transition: 0.5s;
}

.profile__details .intro .social i:hover {
  transform: scale(1.2);
  color: #000;
}

.profile__card .contact__info {
  background-color: #f2f5f9;
  padding: 15px;
  border-radius: 20px;
  width: 100%;
}

.profile__card .contact__info .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e3e3e3;
  margin: 10px;
}

.contact__info .row .icon {
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 5px;
  color: var(--second-color);
  text-align: center;
  transition: 0.5s;
}

.row .icon:hover {
  transform: scale(1.2);
}

.row .content {
  min-width: 80%;
  padding: 10px;
}

.row .content span {
  font-size: 14px;
  font-weight: 600;
  color: rgba(26, 16, 3, 0.5);
}

.row .content h5 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #000;
}

.download__btn {
  margin-left: 30px;
  background-color: var(--second-color);
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 30px;
  margin-top: 2.5rem;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.download__btn:hover {
  transform: scale(1.1);
}

/* ===== NAVBAR ===== */

.content__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar {
  width: 503px;
  height: 100px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #f2f7fc;
  box-shadow: var(--box-shadow);
}

.navbar__link {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  background-color: #e1e8ef;
  border-radius: 20px;
  cursor: pointer;
}

.navbar__link a {
  color: #000;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
}

.navbar__link a i {
  font-size: 1.2rem;
}

.navbar__link:hover {
  background-color: var(--second-color);
  transition: 0.5s;
  transform: scale(1.1);
}

.navbar__link a:hover {
  color: #fff;
}

/* ===== RESUME ===== */

.resume {
  background-color: #fff;
  width: 800px;
  padding: 2rem 3rem;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.resume h1 {
  font-family: "Poppins", sans-serif;
  color: #0b0909;
  position: relative;
  display: inline-block;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 1px;
}

.resume h1::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -170%;
  width: 252px;
  height: 2px;
  background-image: linear-gradient(
    to right,
    #fe9119,
    #fb7c0b,
    #f76503,
    #f24a04,
    #ed250a
  );
}

.title {
  margin-top: 23px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.resume h2 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.8px;
  margin: 0.5rem 0;
}

.resume h2 i {
  color: #ff9c1a;
  padding: 10px;
}

.resume p {
  margin: 1.5rem 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 30px;
}

.resume__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.resume__box .desc {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  background-color: #ffe3bf;
}

.resume__box .desc p {
  margin: auto;
  margin-left: 10px;
}

.resume__box .desc .text1 {
  color: rgba(26, 16, 3, 0.5);
  font-size: 13px;
  font-weight: 400;
}

.resume__box .desc .text2 {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.resume__box .desc .text3 {
  font-size: 14px;
  font-weight: 500;
}

.skills__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.work__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.work__desc {
  display: flex;
}

.work__desc .work__box {
  margin: 10px;
  padding: 4px 8px;
  background-color: #e1e8ef;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.24px;
  color: #000;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .header {
    display: flex;
    justify-content: center;
  }

  .resume {
    width: 1005;
    max-width: 400px;
    padding: 1rem;
    margin: 1rem;
  }

  .navbar {
    width: 90%;
  }

  .resume h1 {
    font-size: 2.2rem;
  }
  .resume h1::after {
    position: absolute;
    content: "";
    top: 50%;
    right: -80%;
    width: 100px;
    height: 2px;
    background-image: linear-gradient(
      to right,
      #fe9119,
      #fb7c0b,
      #f76503,
      #f24a04,
      #ed250a
    );
  }

  .title h2 {
    font-size: 1.2rem;
  }

  .resume .ecudation {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .skills__wrapper {
    display: block;
    place-items: center;
  }
}

@media (max-width: 493px) {
  .profile__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .profile__details .intro h2,
  .profile__details .intro h4 {
    text-align: center;
  }

  .profile__details .intro .social {
    display: grid;
    grid-template-columns: repeat(4, auto);
  }

  .profile__details .intro .social i {
    padding: 16px;
    width: 50px;
    height: 50px;
  }

  .profile__card .contact__info {
    width: 125%;
  }

  .download__btn {
    display: flex;
    margin: 2rem auto;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .navbar {
    width: 70%;
  }

  .navbar .navbar__link {
    display: flex;
    align-items: center;
    margin: auto;
    width: 60px;
    height: 60px;
  }
}
